﻿@model IEnumerable<PlantillaClinicaClient.Models.CITA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HORA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PACIENTE.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_CITA.TIPO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td> 
            @{ 
                var dt = item.FECHA.Value.Date.ToString().Split(' ');
                string date = dt[0];
            }
            @Html.Label(date) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HORA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PACIENTE.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_CITA.TIPO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CITA_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CITA_ID })
        </td>
    </tr>
}

</table>
