﻿@model IEnumerable<PlantillaClinicaClient.Models.TIPO_CITA>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TIPO)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TIPO)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TIPO_CITA_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TIPO_CITA_ID })
            </td>
        </tr>
    }

    <tr>
        <td>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </td>
    </tr>

</table>
